<?xml version="1.0"?>
<robot name="agv">

  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.2 0.1 0.1"/>
      </geometry>
    </visual>
  </link>
  
  <link name="arm_link_1">
    <visual>
      <geometry>
        <box size="0.2 0.05 0.05"/>
      </geometry>
    </visual>
  </link>

  <joint name="base_arm" type="revolute">
    <parent link="base_link"/>
    <child link="arm_link_1"/>
    <origin xyz="0.0 0.0 0.05"/>
    <axis xyz="0 0 1" />
    <limit effort="300" velocity="0.1" lower="-3.14" upper="3.14"/>
  </joint>
</robot>
