<?xml version="1.0" ?>
<launch>

  <arg name="model" default="$(find ompl_test)/urdf/agv.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find ompl_test)/rviz/drive_agv.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  <!-- run the tf publisher -->
  <node name="agv_tf" pkg="ompl_test" type="ompl_test_agv_tf_node" output="screen" />
  <!-- run the path visualization node -->
  <node name="visualizer_node" pkg="ompl_test" type="ompl_visualizer.py" output="screen"/>
  <!-- launch the ompl planning node-->
  <!--node name="rigid_planning_control_node" pkg="ompl_test" type="ompl_test_rigid_planning_control_node" output="screen"/-->
  <node name="dubin_car_node" pkg="ompl_test" type="ompl_test_dubin_car_node" output="screen"/>
</launch>
